<form
  *ngIf="vetForm"
  #ngForm="ngForm"
  [formGroup]="vetForm"
  (ngSubmit)="onSubmit()"
>
  <mat-form-field>
    <mat-label>Nom</mat-label>
    <input matInput formControlName="lastName" />
    <mat-error *ngIf="vetForm.get('lastName').errors?.['required']">
      Champ obligatoire
    </mat-error>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Prénom</mat-label>
    <input matInput formControlName="firstName" />
    <mat-error *ngIf="vetForm.get('firstName').errors?.['required']">
      Champ obligatoire
    </mat-error>
  </mat-form-field>

  <button type="submit" mat-button color="primary">Enregistrer</button>
</form>
